In [120]:
#Dependencies

import requests
import json
import pandas as pd
import time

In [121]:
#Build URL

url = "https://api.brewerydb.com/v2/locations/"
api_key = "?key=f5602f16b774b7f79ce6b916acc9000a&p="
new_url = url + api_key

In [122]:
pages = []
pages = list(range(100,110))

indexes = []
indexes = list(range(0,50))

names = []
local = []
region = []
country = []
est = []
bizstatus = []
closed = []

In [123]:
for page in pages:
    response = requests.get(new_url + str(page)).json()
    for index in indexes:
        try:
            est.append(response["data"][index]["brewery"]["established"])
        except KeyError:
            indexes.remove(index)
            continue
        names.append(response["data"][index]["name"])
        try:
            local.append(response["data"][index]["locality"])
        except KeyError:
            local.append(["null"])
            region.append(["null"])
            country.append(["null"])
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            region.append(response["data"][index]["region"])
        except KeyError:
            region.append(["null"])
            country.append(["null"])
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            country.append(response["data"][index]["country"]["name"])
        except KeyError:
            country.append(["null"])
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            bizstatus.append(response["data"][index]["brewery"]["isInBusiness"])
        except KeyError:
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            closed.append(response["data"][index]["isClosed"])
        except KeyError:
            closed.append(["null"])
            continue
    time.sleep(5)

In [124]:
len(est), len(names), len(local), len(region), len(country), len(bizstatus), len(closed)

(39, 39, 39, 39, 39, 39, 39)

In [125]:
print(est)
print(names)
print(local)
print(region)
print(country)
print(bizstatus)
print(closed)

['2010', '2014', '2014', '2014', '1997', '1984', '2010', '1861', '2012', '2005', '2014', '2010', '2012', '2010', '2015', '2017', '2018', '2018', '2010', '2008', '2012', '2013', '2014', '2015', '1997', '2001', '2012', '2016', '2007', '2008', '2012', '1978', '2008', '2013', '1766', '2007', '1864', '2011', '1995']
['Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery', 'Main Brewery']
['Covington', 'Colorado Springs', 'Houston', 'Fort Wayne', 'Los Angeles', 'Pickering', 'Corvallis', 'KÃ¶then', 'Mount Airy', 'Bright', ['null'], ['null'], 'Centerville', 'Seattle', 'Pilot Point', 'Pensacola', 'Burbank', 'Greeley', 'Indianapolis', 'Carson', 'Austin', 'Torrance', 'Tampa', 'Hesperia', 'Minneapolis', 'Kill Devil Hills', 'Speedway', 'Taylors', 'Spearfish', 'Waconia', 'Marion', 'Lancaster', 'Sainte Genevieve', 'Rincon', 'Treviso', 'San Diego', 'Aalen', ['null'], 'San Diego']
['Louisiana', 'Colorado', 'Texas', 'Indiana', 'California', 'North Yorkshire', 'Oregon', ['null'], 'Maryland', 'Victoria', ['null'], ['null'], 'Ohio', 'Washington', 'Texas', 'Florida', 'California', 'Colorado', 'Indiana', 'Washington', 'Texas', 'California', 'Florida', 'California', 'Minnesota', 'North Carolina', 'Indiana', 'South Carolina', 'South Dakota', 'Minnesota', 'Wisconsin', 'Pennsylvania', 'Missouri', 'Puerto Rico', ['null'], 'California', ['null'], ['null'], 'California']
['UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED KINGDOM', 'UNITED STATES', ['null'], 'UNITED STATES', 'AUSTRALIA', ['null'], ['null'], 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', ['null'], 'UNITED STATES', ['null'], ['null'], 'UNITED STATES']
['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', ['null'], 'Y', 'Y', ['null'], ['null'], 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', ['null'], 'Y', ['null'], ['null'], 'Y']
['N', 'N', 'N', 'N', 'N', 'N', 'N', ['null'], 'N', 'N', ['null'], ['null'], 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', ['null'], 'N', ['null'], ['null'], 'N']

In [126]:
brewery_dict = {
    "Brewery Name": names,
    "City": local,
    "State": region,
    "Country": country,
    "Year Established": est,
    "In Business?": bizstatus,
    "Closed?": closed
}

brewery_data = pd.DataFrame(brewery_dict)
brewery_data.head()

,Brewery Name,City,State,Country,Year Established,In Business?,Closed?
0,Main Brewery,Covington,Louisiana,UNITED STATES,2010,Y,N
1,Main Brewery,Colorado Springs,Colorado,UNITED STATES,2014,Y,N
2,Main Brewery,Houston,Texas,UNITED STATES,2014,Y,N
3,Main Brewery,Fort Wayne,Indiana,UNITED STATES,2014,Y,N
4,Main Brewery,Los Angeles,California,UNITED STATES,1997,Y,N

In [127]:
brewery_data.count()

Brewery Name        39
City                39
State               39
Country             39
Year Established    39
In Business?        39
Closed?             39
dtype: int64

In [128]:
brewery_data.to_csv("Output/brewery_data_110.csv",
                   encoding="utf-8", index=False, header=True)