In [2]:
import pandas as pd
import matplotlib as mp
import numpy as np

In [3]:
Pop = "CensusOutput/POP.csv"
# Med = "CensusOutput/MedianMean.csv"
# Census = "CensusOutput/censusmean.csv"

In [4]:
population = pd.read_csv(Pop)
# median = pd.read_csv(Med)
# Censuss = pd.read_csv(Census)

In [5]:
Northeast = ["Maine", "Delaware", "New Hampshire", "Vermont", "Massachusetts", "Rhode Island", "Maryland", "Connecticut", "New York", "New Jersey", "Pennsylvania", "District of Columbia"]
Southwest = ["Texas", "Oklahoma", "New Mexico", "Arizona"]
West = ["Colorado", "Wyoming", "Montana", "Idaho", "Washington", "Oregon", "Utah", "Nevada", "California", "Alaska", "Hawaii"]
Southeast = ["West Virginia", "Virginia, Kentucky", "Tennessee", "North Carolina", "South Carolina", "Georgia", "Alabama", "Mississippi", "Arkansas", "Louisiana", "Florida"]
Midwest = ["Ohio", "Indiana", "Michigan", "Illinois", "Missouri", "Wisconsin", "Minnesota", "Iowa", "Kansas", "Nebraska", "South Dakota", "North Dakota" ]

In [6]:
population.head(1)

,State,2010 POP,2011 POP,2012 POP,2013 POP,2014 POP,2015 POP,2016 POP,2017 POP
0,Alabama,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747

In [7]:
State = population["State"]
Regions = []

In [8]:



# for row in population.index:
#     if State in Northeast:
#         Regions.append("NE")
#     elif [0] in Southwest:
#         Regions.append("SW")
#     elif [0] in West:
#         Regions.append("W")
#     elif [0] in Southeast:
#         Regions.append("SE")
#     else:
#         Regions.append("MW")

In [9]:
for state in State:
    if state in Northeast:
        Regions.append("NE")
    elif state in Southwest:
        Regions.append("SW")
    elif state in West:
        Regions.append("W")
    elif state in Southeast:
        Regions.append("SE")
    else:
        Regions.append("MW")

In [10]:
population["Region"] = Regions

In [11]:
population

,State,2010 POP,2011 POP,2012 POP,2013 POP,2014 POP,2015 POP,2016 POP,2017 POP,Region
0,Alabama,15617.529412,15661.363801,15713.219910,15760.858824,15802.909502,15841.446154,15875.019005,15922.885973,SE
1,Alaska,7581.731988,7666.988473,7757.066282,7819.311239,7816.585014,7824.314121,7856.389049,7833.665706,W
2,Arizona,109780.773756,110807.162896,112187.882353,113455.185520,115031.479638,116714.800905,118562.837104,120432.470588,SW
3,Arkansas,9087.387042,9144.595055,9180.982950,9208.963342,9238.167093,9276.047741,9318.995737,9372.023018,SE
4,California,132762.179201,134004.166202,135249.283194,136434.882080,137704.339833,138893.655525,139843.989786,140702.933148,W
5,Colorado,27272.895803,27651.759768,28039.124457,28461.892909,28900.500724,29443.341534,29931.808973,30354.143271,W
6,Connecticut,60172.259649,60379.698246,60487.277193,60578.750877,60546.589474,60442.003509,60352.908772,60359.207018,NE
7,Delaware,23829.145161,24047.250000,24286.137097,24500.322581,24754.322581,24999.620968,25224.459677,25471.395161,NE
8,District of Columbia,605040.000000,620336.000000,635630.000000,650114.000000,660797.000000,672736.000000,684336.000000,693972.000000,NE
9,Florida,68678.962578,69596.089397,70481.830561,71362.536383,72502.256757,73846.111227,75245.099792,76423.534304,SE
10,Georgia,23402.962810,23640.202479,23888.843664,24052.300275,24287.005510,24558.140496,24823.854683,25096.905647,SE
11,Hawaii,446990.555556,451765.333333,456446.000000,461206.222222,463893.444444,466535.222222,466887.333333,466013.444444,W
12,Idaho,11736.485830,11832.342105,11922.714575,12043.091093,12199.585020,12344.344130,12576.696356,12856.479757,W
13,Illinois,10115.170556,10132.625373,10146.884396,10157.758480,10152.575848,10137.455224,10117.284396,10091.320217,MW
14,Indiana,9980.023458,10022.076436,10057.403268,10110.883237,10153.153137,10182.150764,10219.647074,10272.094096,MW
15,Iowa,5356.472904,5381.454840,5401.495600,5430.044465,5459.252895,5483.595183,5506.773506,5534.532191,MW
16,Kansas,3856.958213,3871.773913,3894.517633,3905.043720,3914.398551,3923.313285,3926.485024,3934.189614,MW
17,Kentucky,14383.543441,14456.097956,14515.524702,14578.580068,14621.531516,14666.652470,14717.773424,14781.948041,MW
18,Louisiana,21020.476447,21158.588156,21290.304172,21402.071332,21501.262450,21603.484522,21665.895020,21649.581427,SE
19,Maine,9312.161905,9315.042857,9316.476190,9316.088889,9325.017460,9318.200000,9334.538095,9373.282540,NE
20,Maryland,48851.260989,49293.854396,49687.505495,50022.332418,50336.637363,50578.664835,50752.401099,50962.986264,NE
21,Massachusetts,61402.904851,61842.367537,62295.875000,62776.050373,63223.811567,63561.533582,63838.009328,64159.253731,NE
22,Michigan,13667.130081,13662.562331,13674.146341,13686.533875,13701.706504,13701.593225,13717.379675,13751.064770,MW
23,Minnesota,5061.740062,5094.328265,5123.639494,5159.587837,5194.335043,5223.437443,5263.064847,5312.214142,MW
24,Mississippi,13345.454545,13378.478873,13401.399488,13420.647887,13424.426376,13409.259923,13407.518566,13398.253521,SE
25,Missouri,7944.700459,7963.790180,7980.806076,8004.537619,8027.477570,8046.424938,8071.779583,8101.334511,MW
26,Montana,9609.349462,9674.413978,9742.115591,9824.965054,9901.301075,9984.311828,10079.276882,10190.989247,W
27,Nebraska,3566.769636,3586.386973,3608.412835,3628.994732,3651.144636,3672.295019,3696.004310,3717.222701,MW
28,Nevada,146677.461538,147529.984615,149423.123077,151310.184615,153777.523077,156573.753846,159630.646154,162849.784615,W
29,New Hampshire,19028.827044,19054.490566,19089.141509,19113.654088,19202.751572,19223.094340,19291.292453,19400.930818,NE
30,New Jersey,27582.497468,27718.244304,27843.596203,27948.126582,28043.036709,28100.434177,28162.369620,28249.925316,NE
31,New Mexico,26824.982206,27002.213523,27084.128114,27114.512456,27097.516014,27092.882562,27136.864769,27172.729537,SW
32,New York,26323.907612,26471.289657,26589.405578,26695.073504,26765.137130,26812.852992,26826.506973,26842.556363,NE
33,North Carolina,24974.143277,25217.194710,25472.800882,25735.688464,25988.594416,26265.019104,26575.996326,26890.426892,SE
34,North Dakota,1258.021357,1277.488116,1308.289356,1350.210127,1380.732690,1412.937995,1415.800207,1416.743024,MW
35,Ohio,11314.094744,11318.580980,11323.432070,11345.023060,11371.261173,11384.768502,11401.929389,11437.859671,MW
36,Oklahoma,10247.635507,10320.242754,10406.353623,10504.555072,10576.001449,10659.342754,10707.302174,10734.139855,SW
37,Oregon,24903.187719,25094.522807,25284.010526,25455.471930,25728.640351,26095.431579,26550.191228,26921.029825,W
38,Pennsylvania,10230.232357,10251.821051,10268.728282,10273.746142,10279.235304,10275.661176,10268.653026,10278.716144,NE
39,Rhode Island,71191.541667,71145.208333,71193.986111,71174.097222,71327.666667,71413.305556,71534.041667,71663.166667,NE
40,South Carolina,23584.307576,23773.319697,24010.918182,24250.857576,24554.222727,24905.133333,25254.309091,25586.674242,SE
41,South Dakota,1867.167172,1883.598528,1905.656561,1929.570810,1946.842789,1958.423127,1976.090948,1996.132525,MW
42,Tennessee,26029.082073,26209.473002,26460.327214,26643.454644,26861.893089,27089.097192,27337.974082,27601.696544,SE
43,Texas,30318.203728,30801.645566,31323.310411,31803.037596,32367.683483,32963.849293,33498.386568,33973.917738,SW
44,Utah,19468.543986,19751.642729,20025.727110,20349.172352,20623.213645,20949.802513,21372.482944,21780.558348,W
45,Vermont,6604.603211,6607.447248,6602.878440,6607.834862,6602.674312,6589.110092,6577.229358,6580.587156,NE
46,Virginia,37748.882006,38112.734513,38485.269912,38813.976401,39057.404130,39276.699115,39485.830383,39722.246313,MW
47,Washington,37895.969183,38340.171032,38753.741140,39169.634823,39646.200308,40247.617874,40969.990755,41669.624037,W
48,West Virginia,10641.504288,10643.157804,10645.216123,10626.771870,10597.056604,10549.924528,10483.754717,10407.521441,SE
49,Wisconsin,7764.181316,7785.314164,7807.313159,7828.554746,7848.926168,7860.454545,7877.848569,7907.425414,MW
50,Wyoming,8455.573171,8506.670732,8643.650407,8732.300813,8747.272358,8788.792683,8768.491870,8681.410569,W

In [20]:
# median["Region"] = Regions
# median.head()

,State,Median 2010,Median 2011,Median 2012,Median 2013,Median 2014,Median 2015,Median 2016,Median 2017,Region
0,Alabama,42081.0,42934.0,43160.0,43253.0,43511.0,43623.0,44758.0,46472.0,SE
1,Alaska,66521.0,69014.0,69917.0,70760.0,71829.0,72515.0,74444.0,76114.0,W
2,Arizona,50448.0,50752.0,50256.0,49774.0,49928.0,50255.0,51340.0,53510.0,SW
3,Arkansas,39267.0,40149.0,40531.0,40768.0,41264.0,41371.0,42336.0,43813.0,SE
4,California,60883.0,61632.0,61400.0,61094.0,61489.0,61818.0,63783.0,67169.0,W

In [21]:
# Censuss["Region"] = Regions
# Censuss.head()

,State,2010 POP,Median 2010,2011 POP,Median 2011,2012 POP,Median 2012,2013 POP,Median 2013,2014 POP,Median 2014,2015 POP,Median 2015,2016 POP,Median 2016,2017 POP,Median 2017,Region
0,Alabama,15617.529412,42081.0,15661.363801,42934.0,15713.219910,43160.0,15760.858824,43253.0,15802.909502,43511.0,15841.446154,43623.0,15875.019005,44758.0,15922.885973,46472.0,SE
1,Alaska,7581.731988,66521.0,7666.988473,69014.0,7757.066282,69917.0,7819.311239,70760.0,7816.585014,71829.0,7824.314121,72515.0,7856.389049,74444.0,7833.665706,76114.0,W
2,Arizona,109780.773756,50448.0,110807.162896,50752.0,112187.882353,50256.0,113455.185520,49774.0,115031.479638,49928.0,116714.800905,50255.0,118562.837104,51340.0,120432.470588,53510.0,SW
3,Arkansas,9087.387042,39267.0,9144.595055,40149.0,9180.982950,40531.0,9208.963342,40768.0,9238.167093,41264.0,9276.047741,41371.0,9318.995737,42336.0,9372.023018,43813.0,SE
4,California,132762.179201,60883.0,134004.166202,61632.0,135249.283194,61400.0,136434.882080,61094.0,137704.339833,61489.0,138893.655525,61818.0,139843.989786,63783.0,140702.933148,67169.0,W

In [17]:
Censuss.to_csv("CensusOutput/censusmean.csv",
                   encoding="utf-8", index=False, header=True)

In [18]:
median.to_csv("CensusOutput/MedianMean.csv",
                   encoding="utf-8", index=False, header=True)

In [11]:
population.to_csv("CensusOutput/POP.csv",
                   encoding="utf-8", index=False, header=True)