In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Define File Path for CSVs
brewery1_csv = "Output/brewery_data_part1.csv"
brewery2_csv = "Output/brewery_data_part2.csv"
brewery3_csv = "Output/brewery_data_part3.csv"

In [3]:
# Read in CSVs
brewerydf_1 = pd.read_csv(brewery1_csv)
brewerydf_2 = pd.read_csv(brewery2_csv)
brewerydf_3 = pd.read_csv(brewery3_csv)

In [4]:
# Merge CSVs
brewerydf = pd.merge(brewerydf_1, brewerydf_2, how="outer")
brewerydf.head()

,Brewery Name,City,State,Country,Year Established,In Business?,Closed?
0,4 Seasons Brewery,Lapeer,Michigan,UNITED STATES,2014,Y,N
1,40 North Brewing,Boulder,Colorado,UNITED STATES,2011,Y,N
2,4kd Crick Brewery,Defiance,Ohio,UNITED STATES,2016,Y,N
3,4S Ranch,San Diego,California,UNITED STATES,1989,Y,N
4,7 Cent Brewing,Gisborne South,Victoria,AUSTRALIA,2012,Y,N

In [5]:
# Merge CSVs
brewerydf2 = pd.merge(brewerydf, brewerydf_3, how="outer")
brewerydf2.head()

,Brewery Name,City,State,Country,Year Established,In Business?,Closed?
0,4 Seasons Brewery,Lapeer,Michigan,UNITED STATES,2014,Y,N
1,40 North Brewing,Boulder,Colorado,UNITED STATES,2011,Y,N
2,4kd Crick Brewery,Defiance,Ohio,UNITED STATES,2016,Y,N
3,4S Ranch,San Diego,California,UNITED STATES,1989,Y,N
4,7 Cent Brewing,Gisborne South,Victoria,AUSTRALIA,2012,Y,N

In [6]:
# Export new Merged CSV
brewerydf2.to_csv("Output/brewery_data_merged.csv",
                   encoding="utf-8", index=False, header=True)