In [1]:
# Dependencies
import requests
import json
import pandas as pd
import time

In [2]:
#Build URL
url = "https://api.brewerydb.com/v2/locations/"
api_key = "?key=f5602f16b774b7f79ce6b916acc9000a&p="
new_url = url + api_key

In [3]:
# Lists
pages = []
#pages = list(range(1,131)) #*try a small number first to avoid overloading API*

indexes = []
indexes = list(range(0,50))

names = []
local = []
region = []
country = []
est = []
bizstatus = []
closed = []

In [4]:
# Request API

for page in pages:
    response = requests.get(new_url + str(page)).json()
    for index in indexes:
        try:
            est.append(response["data"][index]["brewery"]["established"])
        except KeyError:
            indexes.remove(index)
            continue
        names.append(response["data"][index]["name"])
        try:
            local.append(response["data"][index]["locality"])
        except KeyError:
            local.append(["null"])
            region.append(["null"])
            country.append(["null"])
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            region.append(response["data"][index]["region"])
        except KeyError:
            region.append(["null"])
            country.append(["null"])
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            country.append(response["data"][index]["country"]["name"])
        except KeyError:
            country.append(["null"])
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            bizstatus.append(response["data"][index]["brewery"]["isInBusiness"])
        except KeyError:
            bizstatus.append(["null"])
            closed.append(["null"])
            continue
        try:
            closed.append(response["data"][index]["isClosed"])
        except KeyError:
            closed.append(["null"])
            continue
time.sleep(5)

In [5]:
# Count lists
len(est), len(names), len(local), len(region), len(country), len(bizstatus), len(closed)

(80, 80, 80, 80, 80, 80, 80)

In [6]:
## NOT NEEDED ##
# Print Lists
print(est)
print(names)
print(local)
print(region)
print(country)
print(bizstatus)
print(closed)

['1866', '2014', '2016', '1995', '1873', '2013', '2011', '2015', '2000', '2011', '1971', '1983', '1589', '1589', '1589', '1589', '1996', '1992', '2008', '2008', '2008', '2017', '2011', '2013', '1978', '2015', '1976', '1978', '2011', '2013', '2017', '2018', '2017', '2013', '2017', '1996', '1996', '1996', '1996', '1996', '1895', '2016', '2018', '2016', '1978', '2011', '1983', '2011', '2016', '1996', '1998', '1978', '2015', '2010', '1978', '1986', '1971', '1978', '2015', '2018', '1971', '2005', '1994', '1973', '2016', '2013', '2016', '1986', '2016', '2013', '2018', '2012', '2011', '1998', '2013', '1998', '1998', '1998', '1988', '2013']
['Headquarters', 'Headquarters', "Heaven's Gate Brewery", 'Heavy Seas Alehouse - Baltimore', 'Heineken Experience', 'Heritage Brewing Co.', 'Hickory Location', 'High Perch Brewing Company', 'High Point', 'High Water Brewing', 'Highlands Ranch', 'Hillsdale Brewery', 'Hofbräuhaus Chicago', 'Hofbräuhaus Columbus', 'Hofbräuhaus Las Vegas', 'Hofbräuhaus Newport', 'Home Brew Mart', 'Honeyrun Winery & Honey Company', 'HopCat', 'HopCat Detroit', 'HopCat Madison', 'HopFly Brewing Company', 'Hops Bar & Grill / Down the Alley / Still Cocktail Bar', 'House Bear Brewing', 'Houston (willowbrook)', "Hunter's Handmade Brewery", 'Huntington Beach', 'Huntington Beach', 'Huntington Beach Tap Room', 'Hyappa Brews', 'Icarus Brewing', 'Imperial Western Beer Company', 'Industria de Bebidas Cervejarte', 'Intermission Beer Company', 'Inventors Brewpub', 'Iron Hill Brewery & Restaurant  - Lancaster', 'Iron Hill Brewery & Restaurant - Center City', 'Iron Hill Brewery & Restaurant - Greenville', 'Iron Hill Brewery & Restaurant - Huntingdon Valley', 'Iron Hill Brewery & Restaurant - West Chester', 'Irwindale Brewery', 'Island Dog Brewing', 'Ivanhoe Park Brewing Co.', 'Jacked Up Brewery', 'Jacksonville', 'Jeremiah Johnson Brewing Co.', 'John Barleycorns Brewery', 'Kane Brewing Co.', 'käretäs brewing', 'Kennett Square', 'King of Prussia', 'Kissimmee', 'Koholā Brewery', 'La Cruces Taproom', 'La Mesa', 'Labège', 'Lacey', 'Laguna Beach', 'Lake Charlevoix', 'Lakes Austin Ales', 'Lakewood', 'Lancaster Brewery', 'Layton', "Le Lion d'Or", 'Legends Brewery', 'Lewisville', "Liar's Bench Beer Co.", 'Lille', 'Lo Rez Brewing and Taproom', 'Logan Tasting Room', 'Look Long Brewing Company', 'Los Angeles - The Dankness Dojo', 'Lost Colony Brewery', 'Loveland Centerra Promenade', 'Lowercase Brewing - Production Facility', 'Macedonian Thrace Brewery', "Mad Anthony's Lakeview Alehouse and Reception Hall", 'Main Brewery', 'Main Brewery', 'Main Brewery']
['Saint-Omer', 'Lisboa', 'Riggins', 'Baltimore', 'Amsterdam', 'Manassas', 'Hickory', 'Amsterdam', 'High Point', 'Pittsburg', 'Highlands Ranch', 'Portland', 'Rosemont', 'Columbus', 'Las Vegas', 'Newport', 'San Diego', 'Chico', 'Royal Oak', 'Detroit', 'Madison', 'Rocky Mount', 'Doylestown', 'Newburyport', 'Houston', 'Mount Pleasant', 'Huntington Beach', 'Huntington Beach', 'Huntington Beach', 'Gamagori-shi', 'Lakewood', 'Los Angeles', ['null'], 'Glen Allen', 'Port Washington,', 'Lancaster', 'Philadelphia', 'Greenville', 'Huntingdon Valley', 'West Chester', 'Irwindale', 'South Portland', 'Orlando', 'Escondido', 'Jacksonville', 'Great Falls', 'Tigard', 'Ocean Township', 'Itasca', 'Kennett Square', 'King of Prussia', 'Kissimmee', 'Lahaina', 'Las Cruces', 'La Mesa', 'Labège Cedex', 'Lacey', 'Laguna Beach', 'Charlevoix', 'Austin', 'Lakewood', 'Lancaster', 'Layton', 'Sherbrooke', 'Pretoria', 'Lewisville', 'Portsmouth', 'Lille', 'Chicago', 'San Diego', 'POrtland', 'Los Angeles', 'Manteo', 'Loveland', 'Seattle', 'Komotini', 'Angola', 'Urbana', 'Independence', ['null']]
[['null'], ['null'], 'Idaho', 'Maryland', 'Noord-Holland', 'Virginia', 'North Carolina', 'New York', 'North Carolina', 'California', 'Colorado', 'Oregon', 'Illinois', 'Ohio', 'Nevada', 'Kentucky', 'California', 'California', 'Michigan', 'Michigan', 'Wisconsin', 'North Carolina', 'Pennsylvania', 'Massachusetts', 'Texas', 'Michigan', 'California', 'California', 'California', 'Aichi Prefecture', 'New Jersey', 'California', ['null'], 'Virginia', 'Wisconsin', 'Pennsylvania', 'Pennsylvania', 'South Carolina', 'Pennsylvania', 'Pennsylvania', 'California', 'Maine', 'Florida', 'California', 'Florida', 'Montana', 'Oregon', 'New Jersey', 'Illinois', 'Pennsylvania', 'Pennsylvania', 'Florida', 'Hawaii', 'New Mexico', 'California', 'Toulouse', 'Washington', 'California', 'Michigan', 'Texas', 'Washington', 'Lancashire', 'Utah', 'Québec', 'Gauteng Province', 'Texas', 'New Hampshire', ['null'], 'Illinois', 'California', 'Oregon', 'California', 'North Carolina', 'Colorado', 'Washington', 'Northern Greece', 'Indiana', 'Illinois', 'Oregon', ['null']]
[['null'], ['null'], 'UNITED STATES', 'UNITED STATES', 'NETHERLANDS', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'JAPAN', 'UNITED STATES', 'UNITED STATES', ['null'], 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'FRANCE', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED KINGDOM', 'UNITED STATES', 'CANADA', 'SOUTH AFRICA', 'UNITED STATES', 'UNITED STATES', ['null'], 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', 'GREECE', 'UNITED STATES', 'UNITED STATES', 'UNITED STATES', ['null']]
[['null'], ['null'], 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', ['null'], 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', ['null'], 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', ['null']]
[['null'], ['null'], 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', ['null'], 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', ['null'], 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', ['null']]

In [7]:
# Create a Data Frame
brewery_dict = {
    "Brewery Name": names,
    "City": local,
    "State": region,
    "Country": country,
    "Year Established": est,
    "In Business?": bizstatus,
    "Closed?": closed
}
brewery_data = pd.DataFrame(brewery_dict)
brewery_data.head()

,Brewery Name,City,State,Country,Year Established,In Business?,Closed?
0,Headquarters,Saint-Omer,[null],[null],1866,[null],[null]
1,Headquarters,Lisboa,[null],[null],2014,[null],[null]
2,Heaven's Gate Brewery,Riggins,Idaho,UNITED STATES,2016,Y,N
3,Heavy Seas Alehouse - Baltimore,Baltimore,Maryland,UNITED STATES,1995,Y,Y
4,Heineken Experience,Amsterdam,Noord-Holland,NETHERLANDS,1873,Y,N

In [8]:
## NOT NEEDED ##
# Double Check Data Count
brewery_data.count()

Brewery Name        80
City                80
State               80
Country             80
Year Established    80
In Business?        80
Closed?             80
dtype: int64

In [9]:
# Export to CSV file
brewery_data.to_csv("Output/brewery_data_page24-43.csv",
                   encoding="utf-8", index=False, header=True)

In [ ]:
## Will need to pull Part 2 of data with another account or wait until next day. API limit is 200/day